@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{

    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.cityselect.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $("#date").datepicker({
                dateFormat: "yy/mm/dd",
                inline: true,
            });

            $("#addr").citySelect({
                nodata: "none",
                required: false
            });
        });
    </script>
}

<h3 align="center">输入个人详细信息</h3>
<br />

<form action="Show" method="post">
    <table align="center">
        <tr>
            <td>用户名：  </td>
            <td><input type="text" name="username"></td>
        </tr>

        <tr>
            <td>密码：  </td>
            <td><input type="password" name="psd" maxlength="6"></td>
        </tr>

        <tr>
            <td>确认密码：  </td>
            <td> <input type="password" name="psd1"> </td>
        </tr>

        <tr>
            <td>性别：  </td>
            <td>
                <input type="radio" name="sex" value="女"> 女
                <input type="radio" name="sex" value="男" checked="checked" /> 男
            </td>
        </tr>

        <tr>
            <td>籍贯：  </td>
            <td id="addr">
                <select class="prov" name="prov"></select>
                <select class="city" name="city" disabled="disabled"></select>
                <select class="dist" name="dist" disabled="disabled"></select> 
            </td>
        </tr>

        <tr>
            <td>邮箱：  </td>
            <td>
                <input type="email" name="eml" />
            </td>
        </tr>

        <tr>
            <td>手机号：  </td>
            <td>
                <input type="tel" name="tel" />
            </td>
        </tr>

        <tr>
            <td>专业特长：  </td>
            <td>
                <select size="4" multiple name="speciality" >
                    <option value="0">C++编程</option>
                    <option value="1">Java编程</option>
                    <option value="2">PHP编程</option>
                    <option value="3">Python编程</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>业余爱好：  </td>
            <td>
                <input type="checkbox" name="hobbies" value="0"> 足球
                <input type="checkbox" name="hobbies" value="1" /> 篮球
                <input type="checkbox" name="hobbies" value="2" /> 羽毛球
                <input type="checkbox" name="hobbies" value="3" /> 唱歌
                <input type="checkbox" name="hobbies" value="4" /> 游戏
            </td>
        </tr>

        <tr>
            <td>个人图片： </td>
            <td>
                <input type="file" name="pic" />
            </td>
        </tr>

        <tr>
            <td>出生年月：  </td>
            <td>
                <input type="text" id="date" name="birthday" />
            </td>
        </tr>

        <tr>
            <td>备注信息：</td>
            <td>
                <textarea name="notes"  rows="5"></textarea>
            </td>
        </tr>

        <tr>
            <td>
                <input type="button" id="btn" value="显示" />
            </td>
            <td>
                <input type="submit" value="提交" />
                <input type="reset" value="重置" />
            </td>
        </tr>

    </table>
</form>

