@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.cityselect.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {

            $("#date").datepicker({
                dateFormat: "yy/mm/dd"
            });

            $("#addr").citySelect({
                nodata: "none",
                required: false
            });

            $("#username").blur(function () {
                $("#chkusrn").html('');
                var username = $(this).val();
                if (!(/^[a-z]{6,10}$/.test(username))) {
                    $("#chkusrn").css("color", "red");
                    $("#chkusrn").html(' * ');
                    $("#chkusrn").append('用户名需要是6到10位的小写字母!');
                    return;
                }

                $("#chkusrn").html('');
                $.ajax({
                    type: "post",
                    url: "CheckUsername",
                    dataType: "html",
                    data: {
                        usrn: username,
                    },
                    success: function (msg) {
                        $("#chkusrn").css("color", "red");
                        $("#chkusrn").html(' * ');
                        if (msg == 'true') {
                            $("#chkusrn").css("color", "green");
                            $("#chkusrn").html(' 用户名可以使用 ^_^ !');
                        }
                        else $("#chkusrn").append(msg);
                    }
                });
            });

            $("#psd").blur(function () {
                var psd = $(this).val();
                $("#chkpsd").html('');
                if(!(/^[0-9]{6}$/.test(psd))){
                    $("#chkpsd").css("color", "red");
                    $("#chkpsd").html(' * ');
                    $("#chkpsd").append('密码需要是6位数字!');
                }
            });

            $("#psd1").blur(function () {
                var psd = $("#psd").val();
                var psd1 = $(this).val();
                $("#chkpsd1").html('');
                if(psd1!=psd){
                    $("#chkpsd1").css("color", "red");
                    $("#chkpsd1").html(' * ');
                    $("#chkpsd1").append('两次输入密码不相同!');
                }
            });

            $("#eml").blur(function () {
                var eml = $("#eml").val();
                $("#chkeml").html('');
                if (!(/^[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/.test(eml))) {
                    $("#chkeml").css("color", "red");
                    $("#chkeml").html(' * ');
                    $("#chkeml").append('请输入合法的邮箱地址!');
                }
            });

            $("#tel").blur(function () {
                var tel = $("#tel").val();
                $("#chktel").html('');
                if (!(/^1569[0-9]{7}$/.test(tel))) {
                    $("#chktel").css("color", "red");
                    $("#chktel").html(' * ');
                    $("#chktel").append('手机号应为1569开头的11位数字!');
                }
            });

            $("#btnshow").click(function () {
                var str = "你输入的信息如下：\n";
                str += "用户名： " + $("#username").val() + "\n";
                str += "密码： " + $("#psd").val() + "\n";
                str += "性别： " + $("#gender:checked").val() + "\n";
                str += "籍贯： " + $(".prov").val() +" " + $(".city").val() + "\n";
                str += "邮箱： " + $("#eml").val() + "\n";
                str += "手机号： " + $("#tel").val() + "\n";
                str += "专业特长： " + $("#speciality").val() + "\n";
                str += "业余爱好： ";
                $(":checkbox[name='hobbies']:checked").each(function () {
                    str += $(this).val() + " "
                });
                str += "\n个人图片： " + $("#pic").val() + "\n";
                str += "出生年月：" + $("#date").val() + "\n";
                str += "备注信息：" + $("#notes").val() + "\n";
                alert(str);
            });
        });
    </script>
}

<h3 align="center">输入个人详细信息</h3>
<br />

<form action="Show" method="post">
    <table align="center">
        <tr>
            <td>用户名：  </td>
            <td>
                <input type="text" name="username" id="username" required>
                <span id="chkusrn"></span>
            </td>
        </tr>

        <tr>
            <td>密码：  </td>
            <td>
                <input type="password" id ="psd" name="psd" required>
                <span id="chkpsd"></span>
            </td>
        </tr>

        <tr>
            <td>确认密码：  </td>
            <td> 
                <input type="password" id ="psd1" name="psd1" required>
                <span id="chkpsd1"></span>
            </td>

        </tr>

        <tr>
            <td>性别：  </td>
            <td>
                <input type="radio" id="gender" name="gender" value="女"> 女
                <input type="radio" id="gender" name="gender" value="男" checked="checked" /> 男
            </td>
        </tr>

        <tr>
            <td>籍贯：  </td>
            <td id="addr">
                <select class="prov" name="prov"></select>
                <select class="city" name="city" disabled="disabled"></select>
                <select class="dist" name="dist" disabled="disabled"></select> 
            </td>
        </tr>

        <tr>
            <td>邮箱：  </td>
            <td>
                <input type="email" name="eml" id = "eml"/>
                <span id="chkeml"></span>
            </td>
        </tr>

        <tr>
            <td>手机号：  </td>
            <td>
                <input type="tel" name="tel" id = "tel"/>
                <span id = "chktel"></span>
            </td>
        </tr>

        <tr>
            <td>专业特长：  </td>
            <td>
                <select size="3" multiple id="speciality" name="speciality" >
                    <option value="C++编程">C++编程</option>
                    <option value="Java编程">Java编程</option>
                    <option value="PHP编程">PHP编程</option>
                    <option value="Python编程">Python编程</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>业余爱好：  </td>
            <td>
                <input type="checkbox" name="hobbies" value="足球"> 足球
                <input type="checkbox" name="hobbies" value="篮球" /> 篮球
                <input type="checkbox" name="hobbies" value="羽毛球" /> 羽毛球
                <input type="checkbox" name="hobbies" value="唱歌" /> 唱歌
                <input type="checkbox" name="hobbies" value="游戏" /> 游戏
            </td>
        </tr>

        <tr>
            <td>个人图片： </td>
            <td>
                <input type="file" id="pic" name="pic" />
            </td>
        </tr>

        <tr>
            <td>出生年月：  </td>
            <td>
                <input type="text" id="date" name="birthday" />
            </td>
        </tr>

        <tr>
            <td>备注信息：</td>
            <td>
                <textarea id="notes" name="notes" rows="5"></textarea>
            </td>
        </tr>

        <tr>
            <td>
                <input type="button" id="btnshow" value="显示" />
            </td>
            <td>
                <input type="submit" value="提交" />
                <input type="reset" value="重置" />
            </td>
        </tr>

    </table>
</form>

