
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_Lab2.cshtml";
}

<div class="title">
    <span class="title_icon">
        <img src="~/Content/Lab2_Files/images/bullet1.gif" alt="" title="" />
    </span>关于我们
</div>

<div class="feat_prod_box_details">
    <p class="details">
        <img src="~/Content/Lab2_Files/images/about.gif" alt="" title="" class="right" />
        Lorem ipsum dolor sit amet, ... <br /><br />
        Lorem ipsum dolor sit amet, ... <br /><br />

        Lorem ipsum dolor sit amet, ...
    </p>


</div>

<div class="clear"></div>

