
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Lab2.cshtml";
}

<div class="title">
    <span class="title_icon">
        <img src="images/bullet1.gif" alt="" title="" />
    </span>新品介绍
</div>

<div class="new_products">

    <div class="new_prod_box">
        <a href="#">product name</a>
        <div class="new_prod_bg">
            <span class="new_icon"><img src="~/Content/Lab2_Files/images/new_icon.gif" alt="" title="" /></span>
            <a href="details.html"><img src="~/Content/Lab2_Files/images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
    </div>

    <div class="new_prod_box">
        <a href="#">product name</a>
        <div class="new_prod_bg">
            <span class="new_icon"><img src="~/Content/Lab2_Files/images/new_icon.gif" alt="" title="" /></span>
            <a href="details.html"><img src="~/Content/Lab2_Files/images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
    </div>

    <div class="new_prod_box">
        <a href="#">product name</a>
        <div class="new_prod_bg">
            <span class="new_icon"><img src="~/Content/Lab2_Files/images/new_icon.gif" alt="" title="" /></span>
            <a href="details.html"><img src="~/Content/Lab2_Files/images/thumb3.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
    </div>
</div>
<div class="clear"></div>





