@{
    Layout = null;
}

<div class="title">
    <span class="title_icon">
        <img src="~/Content/Lab2_Files/images/bullet3.gif" alt="" title="" />
    </span>测试页面
</div>

<div class="about">
    <p>
        <img src="~/Content/Lab2_Files/images/about.gif" alt="" title="" class="right" />
        RenderPage 测试页面!
    </p>
</div>
