@{
    Layout = null;
}
<div class="title"><span class="title_icon"><img src="~/Content/Lab2_Files/images/bullet3.gif" alt="" title="" /></span>About Our Shop</div>
<div class="about">
    <h2>this is test page</h2>
</div>
