<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title + Flower Shop</title>
    <link href="~/Content/Lab2_Files/flowershop.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrap">

        <div class="header">
            <div class="logo">
                <a href="~/Lab2/Index"><img src="~/Content/Lab2_Files/images/logo.gif" alt="" title="" border="0" /></a>
            </div>
            <div id="menu">
                <ul>
                    <li class="selected"><a href="~/Lab2/Index">首页</a></li>
                    <li><a href="~/Lab2/About">关于</a></li>
                    <li><a href="#">花的种类</a></li>
                    <li><a href="#">特殊礼品</a></li>
                    <li><a href="#">我的账户</a></li>
                    <li><a href="#">注册账号</a></li>
                    <li><a href="#">花的信息</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>


        </div>


        <div class="center_content">
            <div class="left_content">
                @RenderBody()
            </div><!--end of left content-->

            <div class="right_content">
                <div class="languages_box">
                    <span class="red">选择语言:</span>
                    <a href="#" class="selected"><img src="~/Content/Lab2_Files/images/gb.gif" alt="" title="" border="0" /></a>
                    <a href="#"><img src="~/Content/Lab2_Files/images/fr.gif" alt="" title="" border="0" /></a>
                    <a href="#"><img src="~/Content/Lab2_Files/images/de.gif" alt="" title="" border="0" /></a>
                </div>
                <div class="currency">
                    <span class="red">货币: </span>
                    <a href="#">GBP</a>
                    <a href="#">EUR</a>
                    <a href="#" class="selected">USD</a>
                </div>


                <div class="cart">
                    <div class="title"><span class="title_icon"><img src="~/Content/Lab2_Files/images/cart.gif" alt="" title="" /></span>My cart</div>
                    <div class="home_cart_content">
                        3 个商品 | <span class="red">总计: ￥100</span>
                    </div>
                    <a href="cart.html" class="view_cart">查看</a>
                </div>

                @RenderPage("~/Views/Lab2/TestPage.cshtml");

            </div><!--end of right content-->

            <div class="clear"></div>
        </div><!--end of center content-->

        <div class="footer">
            <div class="left_footer">
                <img src="~/Content/Lab2_Files/images/footer_logo.gif" alt="" title="" /><br />
                <a href="http://csscreme.com/freecsstemplates/" title="free templates">
                    <img src="~/Content/Lab2_Files/images/csscreme.gif" alt="free templates" title="free templates" border="0" />
                </a>
            </div>
            <div class="right_footer">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">services</a>
                <a href="#">privacy policy</a>
                <a href="#">contact us</a>
            </div>
        </div>

    </div>
</body>
</html>
