<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title + Flower Shop</title>
    <link href="~/Content/Lab2_Files/flowershop.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="wrap">

        <div class="header">
            <div class="logo">
                <a href="Lab2"><img src="~/Content/Lab2_Files/images/logo.gif" alt="" title="" border="0" /></a>
            </div>
            <div id="menu">
                <ul>
                    <li class="selected"><a href="index.html">home</a></li>
                    <li><a href="about.html">about us</a></li>
                    <li><a href="category.html">flowers</a></li>
                    <li><a href="specials.html">specials gifts</a></li>
                    <li><a href="myaccount.html">my accout</a></li>
                    <li><a href="register.html">register</a></li>
                    <li><a href="details.html">prices</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </div>


        </div>


        <div class="center_content">
            <div class="left_content">
                    @RenderBody()
            </div><!--end of left content-->

            <div class="right_content">
                <div class="languages_box">
                    <span class="red">Languages:</span>
                    <a href="#" class="selected"><img src="~/Content/Lab2_Files/images/gb.gif" alt="" title="" border="0" /></a>
                    <a href="#"><img src="~/Content/Lab2_Files/images/fr.gif" alt="" title="" border="0" /></a>
                    <a href="#"><img src="~/Content/Lab2_Files/images/de.gif" alt="" title="" border="0" /></a>
                </div>
                <div class="currency">
                    <span class="red">Currency: </span>
                    <a href="#">GBP</a>
                    <a href="#">EUR</a>
                    <a href="#" class="selected">USD</a>
                </div>


                <div class="cart">
                    <div class="title"><span class="title_icon"><img src="~/Content/Lab2_Files/images/cart.gif" alt="" title="" /></span>My cart</div>
                    <div class="home_cart_content">
                        3 x items | <span class="red">TOTAL: 100$</span>
                    </div>
                    <a href="cart.html" class="view_cart">view cart</a>
                </div>

                @RenderPage("~/Views/Lab2/TestPage.cshtml");

            </div><!--end of right content-->

            <div class="clear"></div>
        </div><!--end of center content-->

        <div class="footer">
            <div class="left_footer"> 
                <img src="~/Content/Lab2_Files/images/footer_logo.gif" alt="" title="" /><br />
                <a href="http://csscreme.com/freecsstemplates/" title="free templates">
                <img src="~/Content/Lab2_Files/images/csscreme.gif" alt="free templates" title="free templates" border="0" />
                </a>
            </div>
            <div class="right_footer">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">services</a>
                <a href="#">privacy policy</a>
                <a href="#">contact us</a>
            </div>
        </div>

    </div>
</body>
</html>
